<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331547241606-60l9ocfepeqtoos57487ougk0aekag6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331547241606-60l9ocfepeqtoos57487ougk0aekag6n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331547241606-hi9v6golhte2j8m8s5p7q9vij3cuaefm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu2cNcy52ifGK8rp3GYb7FiWV0EmpbFuc</string>
	<key>GCM_SENDER_ID</key>
	<string>331547241606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mamba.castelldefels.mambaCastelldefels</string>
	<key>PROJECT_ID</key>
	<string>mamba-style</string>
	<key>STORAGE_BUCKET</key>
	<string>mamba-style.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:331547241606:ios:e35b259d49b9bdbd7d3507</string>
</dict>
</plist>
