<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331547241606-ebeqpaephnudpu4b2f37jt7d04ub387c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331547241606-ebeqpaephnudpu4b2f37jt7d04ub387c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331547241606-5f7i5mof6lbat2t1q6unmlmclppgtm04.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu2cNcy52ifGK8rp3GYb7FiWV0EmpbFuc</string>
	<key>GCM_SENDER_ID</key>
	<string>331547241606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mamba.mambaprofessionalapp</string>
	<key>PROJECT_ID</key>
	<string>mamba-style</string>
	<key>STORAGE_BUCKET</key>
	<string>mamba-style.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331547241606:ios:f62bc6d192bad5e27d3507</string>
</dict>
</plist>